<div class="row">
  <div *ngFor="let record of filters; let i=index" class="form-group">
    <div class="col-md-3">
      <select (change)="fieldUpdated(record, $event.target.value, $event)" class="form-control input-sm">
        <option [selected]="record.selectedField === field.value" *ngFor="let field of record['fields'];" [value]="field.value">{{field.label}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-control input-sm">
        <option [selected]="record.selectedOperator === op.value"  *ngFor="let op of record['operators'][record.selectedFieldType];" [value]="op.value">{{op.label}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <input class="form-control input-sm" type="text" [value]="record.value" />
    </div>
    <div class="col-md-3">
      <button [disabled]="filters.length == 10" *ngIf="i != 9" (click)="onNewRecord()" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
      <button *ngIf="i > 0" (click)="onRemoveRecord(record)" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-minus"></i>
      </button>
    </div>
  </div>
</div>
